h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.btn {
  margin-left: 15px;
  color: white!important;
  /*background-color: #2b87f9;*/
  background-color: #00ADEF;
  border-radius: 4px;
  padding: 10px 20px!important;
  border: none;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn:hover {
  box-shadow: 0 5px 18px 0 rgba(66, 66, 66, .5);
  color: white;
}
