<div class='home'>
  <section id="carosel-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 heading">
          <h2>Connecting seniors with the best care workers Australia has to offer.</h2>
          <p class="px-2 subheading">A marketplace connecting seniors with the
best care workers Australia has to offer</p>
          <p class="px-2 schedule">Schedule a care worker now in less than 2 minutes</p>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <a class="btn" (click)="auth.login('signUp')">Sign up</a>
          </div>
      </div>
    </div>
  </section>

  <section id='how-it-works' class="container-fluid bg-faded">
    <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <h2 class="heading">How it works</h2>
          </div>
      </div>
      <div class="row justify-content-center text-center" id='how-tabs' role='tablist'>
        <ul class="nav nav-tabs" id="how-tabs" role="tablist">
          <li class="nav-item">
            <a class="icon-wrap active" data-toggle="tab" href="#book" role="tab" aria-controls="home">
              <img class="icon" src="images/icon/book-grey.svg">
              <img class="icon-active" src="images/icon/book-white.svg">
            </a>
            <p>1. Book</p>
          </li>

        <li class="nav-item">
            <a class="icon-wrap" href='#match' aria-controls="match" role="tab" data-toggle="tab">
              <img class="icon" src="images/icon/match-grey.svg">
              <img class="icon-active" src="images/icon/match-white.svg">
            </a>
            <p>2. Match</p>
        </li>
        <li class="nav-item">
            <a class="icon-wrap" href='#visit' aria-controls="visit" role="tab" data-toggle="tab">
              <img class="icon" src="images/icon/house-grey.svg">
              <img class="icon-active" src="images/icon/house-white.svg">
            </a>
            <p>3. Visit</p>
        </li>
      </ul>
    </div>
    </div>
    <div class="tab-content mt-4 align-items-center">
       <div role="tabpanel" class="tab-pane fade show active" id="book">
         <div class="container">
           <div class="row">
             <div class="col-lg-8 col-md-12">
               <h2>Tell us where, when and what you need</h2>
               <p>Our easy to use platform will allow you to quickly let us know what your requirements are and how we can help</p>
             </div>
             <div class="col-lg-4 heading-logo-section">
               <img src='images/icon/calendar.svg'>
             </div>
           </div>
         </div>
       </div>
       <div role="tabpanel" class="tab-pane fade" id="match">
         <div class="container">
           <div class="row">
             <div class="col-lg-8 col-md-12">
               <h2>We match you with one of our prequalified care workers</h2>
               <p>Depending on the home care service that you request, we search our database and match you with the right care worker.</p>
             </div>
             <div class="col-lg-4 heading-logo-section">
               <img src='images/icon/match.svg'>
             </div>
           </div>
         </div>
       </div>
       <div role="tabpanel" class="tab-pane fade" id="visit">
         <div class="container">
           <div class="row">
             <div class="col-lg-8 col-md-12">
               <h2>Take it easy. You're in good hands!</h2>
               <p>Your care worker will head to your chosen location and provide you with the best possible care.</p>
             </div>
             <div class="col-lg-4 heading-logo-section">
               <img src='images/icon/visit.svg'>
             </div>
           </div>
         </div>
       </div>
    </div>
    <div class="container mt-4">
      <div class="row">
          <div class="col-12 text-center">
              <a class="btn yellow" (click)="auth.login('signUp')">Get Started Now</a>
          </div>
      </div>
    </div>
    <script>
      $('#how-tabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      });
      $('#how-tabs a:first').tab('show');
    </script>
  </section>
  <section id="services" class="container-fluid">
    <div class="container text-center">
      <div class="row">
          <div class="col-12">
              <h2 class="heading">Caring street pros can help with…</h2>
              <p>Give your loved ones their time and energy back by letting a caring street pro take some of the load off</p>
          </div>
          <div class="row justify-content-center mt-3">
            <div class="col-lg-3 col-md-12 service">
                <img src='images/icon/hourglass.svg'>
                <h4>Companionship</h4>
                <p>Forming connections, doing activities together, or simply talking</p>
            </div>
            <div class="col-lg-3 col-md-12 service">
                <img src='images/icon/car.svg'>
                <h4>Transport</h4>
                <p>Doesn’t matter where you want to go, ride along with a care workers and sit back and relax</p>
            </div>
            <div class="col-lg-3 col-md-12 service">
                <img src='images/icon/meal.svg'>
                <h4>Meal Preparation</h4>
                <p>Plan and prepare delicious meals together, or head to the supermaket and grab the groceries</p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-3 col-md-12 service">
                <img src='images/icon/laundry.svg'>
                <h4>Housekeeping</h4>
                <p>Washing dishes, laundry, help cleaning up around the house and taking out the rubbish</p>
            </div>
            <div class="col-lg-3 col-md-12 service">
                <img src='images/icon/tub.svg'>
                <h4>Personal Care and Hygiene</h4>
                <p>Help getting on/off the toilet, bathing and dressing</p>
            </div>
          </div>
        </div>
    </div>
  </section>
  <section id="advisors" class="container-fluid bg-faded">
    <div class="container text-center">
      <div class="row">
          <div class="col-12">
              <h2 class="heading">Our Advisors</h2>
              <p>We didn't do it alone. Our platform has been developed based on the experience of our amazing advisors - some of brightest minds in the medical profession today</p>
          </div>
          <div class="row mt-3">
            <div class="col-lg col-md-12 advisor">
                <img src='images/icon/doctor.svg'>
                <h4>Mr. Abc Xyz</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, adipisicing elit dfg.</p>
            </div>
            <div class="col-lg col-md-12 advisor">
                <img src='images/icon/doctor.svg'>
                <h4>Mr. Abc Xyz</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, adipisicing elit dfg.</p>
            </div>
            <div class="col-lg col-md-12 advisor">
                <img src='images/icon/doctor.svg'>
                <h4>Mr. Abc Xyz</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, adipisicing elit dfg.</p>
            </div>
            <div class="col-lg col-md-12 advisor">
                <img src='images/icon/doctor.svg'>
                <h4>Mr. Abc Xyz</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, adipisicing elit dfg.</p>
            </div>
          </div>
        </div>
    </div>
  </section>
  <section id="tech-easy" class="container-fluid">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-12">
            <h2 class="heading">Technology makes it easier.</h2>
            <p>Caring street provides an easy-to-use platform to schedule and manage home care for the elderly.
            We curate an ever-growing network of care workers throughout Australia and connect them to you through smart technology.
            We’ve made scheduling home care as flexible as booking an uber. You can start a care schedule and change it or pause it at any time.
          </p>
        </div>
          <div class="col-4 heading-logo-section">
            <img class="heading-logo" src="images/icon/tech.svg">
          </div>
        </div>
    </div>
  </section>
  <section class="container-fluid bg-faded" id="careworkers">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-4 heading-logo-section">
          <img class="heading-logo" src="images/icon/network.svg">
        </div>
        <div class="col-lg-8 col-md-12">
            <h2 class="heading">Network of the best care workers in Australia.</h2>
            <p>Applicants who wish to become caring street pros go through a strict interview and screening process. Only the top candidates meet our standards.
                <br/><br/>
                Of course Caring street pros have the right skills and experience, but in our interviews we look for empathy, compassion and a geniune desire to help seniors in our community
            </p>
        </div>
        </div>
    </div>
  </section>
  <section class="container-fluid" id="safety">
      <div class="container">
        <div class="row my-3">
            <div class="col-md-12">
                <h2 class="heading">Your safety is our top priority.</h2>
                <p>As part of our recruitment process, every care worker application we receive will be assessed against the following criteria:</p>
            </div>
        </div>
        <div class="row my-1">
          <div class="col-lg-5 col-md-12">
              <p class="check">Police Check</p>
          </div>
          <div class="col-lg-7 col-md-12">
              <p class="check">DMV record review</p>
          </div>
        </div>
        <div class="row my-1">
          <div class="col-lg-5 col-md-12">
              <p class="check">Sex Offender Check</p>
          </div>
          <div class="col-lg-7 col-md-12">
              <p class="check">Proof of qualification</p>
          </div>
          </div>
        <div class="row my-1">
          <div class="col-lg-5 col-md-12">
            <p class="check">Reference Checks</p>
          </div>
          <div class="col-lg-7 col-md-12">
              <p class="check">60 Minute interview, including competency testing, scenario-based assessments, and in-person screening</p>
          </div>
        </div>
      </div>
  </section>
  <section id="insurance" class="container-fluid bg-theme">
    <div class="container text-center">
      <div class="row">
        <div class="col-4 px-3">
            <img class="icon my-3" src="images/icon/insurance.svg">
            <h2 class="heading">Full insurance cover</h2>
            <p>Relax knowing your Care worker is covered by Caring Street's insurance policies.</p>
        </div>
        <div class="col-4 px-3">
            <img class="icon my-3" src="images/icon/match-white.svg">
            <h2 class="heading">Instant matching</h2>
            <p>Our instant matching algorithm matches you with the best care worker in realtime.</p>
        </div>
        <div class="col-4 px-3">
            <img class="icon my-3" src="images/icon/quality.svg">
            <h2 class="heading">Service guarantee</h2>
            <p>If there's any major issue with the service you receive, we will offer you a refund.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="pricing" class="container-fluid text-center bg-faded">
    <div class="container">
      <div class="row">
          <div class="col-12">
              <h2 class="heading">Simple and affordable fixed pricing</h2>
              <p>A simple flat hourly rate for a top rated care worker at your door. No fuss.</p>
          </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-lg-4 col-md-12">
          <div class="price mt-2">
             <div class="header">
               <a (click)="auth.login('signUp')">
                 <h3 class="plan">Fixed Price</h3>
                 <div class="amount">
                   <span class="currency">$</span>
                   <span class="base">40</span>
                   <span class="frequency"><span class="slash">/</span>hr</span>
                 </div>
               </a>
             </div>
             <div class="price-main">
               <div class="specs">
                 <ul class="no-padding">
                    <li>Select from any of our services</li>
                    <li>Phone and email support 24/7</li>
                    <li>Provide feedback after each visit</li>
                 </ul>
               </div>
               <div class="actions mt-4">
                  <a class="btn" (click)="auth.login('signUp')">Sign up now</a>
               </div>
             </div>
          </div>
         </div>
      </div>
    </div>
  </section>
  <section id="call" class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
            <h2 class="heading">Schedule a call at anytime to discuss</h2>
            <p>We know finding a care worker for you or your loved one is an emotional decision.
              We'd be delighted to call you back and answer any questions you may have.</p>
        </div>
        <div class="col-lg-6 col-md-12">
          <form class="" ngNoForm method='post' novalidate="">
            <div class="form-group row">
              <div class="col">
                <input class="form-control my-2" [(ngModel)]="model.name" name="name" id="name" placeholder="Your name" required>
                <input class="form-control my-2" [(ngModel)]="model.phone" name="phone" id="phone" placeholder="Your phone number" required>
                <input type="email" class="form-control my-2" [(ngModel)]="model.email" placeholder="Your email" required>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button type="button" class="btn no-margin" (click)="contact()">Get in touch</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- <section id="secure" class="container-fluid">
    <div class="container">
      <div class="row">
      <div class="col-4">
          <img class="d-block img-fluid" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_159a19dc827%20text%20%7B%20fill%3A%23444%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_159a19dc827%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23666%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22247.3203125%22%20y%3D%22218.45%22%3EFirst%20image%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="First slide">
      </div>
        <div class="col-8">
            <h2 class="heading">Safe and secure</h2>
            <p>Our care workers are thoroughly screened and background checked – so you can rest easy knowing you’ll always be in good hands.Your privacy is our priority. We only have the best rated care workers in our network. Your home will always be respected.
              <br/>As an additional security measure, you’re insured for liability, theft and auto. We take no chances.</p>
            <a href="#" class="btn btn-sunshine">Learn More</a>
         </div>
      </div>
    </div>
  </section>

    <section id="schedule" class="container-fluid bg-faded">
      <div class="container">
        <div class="row">
          <div class="col-8">
              <h2 class="heading">Schedule your assessment today.</h2>
              <p>Finding the right home care for you is an important task. We understand this. Leave your information and we’ll contact you to schedule a free care assessment at your convenience.</p>
              <a href="#" class="btn btn-sunshine">Learn More</a>
           </div>
           <div class="col-4">
               <img class="d-block img-fluid" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_159a19dc827%20text%20%7B%20fill%3A%23444%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_159a19dc827%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23666%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22247.3203125%22%20y%3D%22218.45%22%3EFirst%20image%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="First slide">
           </div>
        </div>
      </div>
    </section>

  <section id="comments-section" class="container-fluid">
    <div class="container">
      <div class="row mb-5">
        <div class="col-9 offset-3">
            <p class="bubble bubble-left">We’ve tried these websites before but weren’t too impressed. What really stood out about you guys was the genuine smile that Miranda would have every time she came to our home. We saw the authenticity in her eyes and really felt like she wanted to be here. We’ll definitely be using caring street again.</p>
         </div>
      </div>
        <div class="row mt-5 mb-5">
          <div class="col-9">
            <p class="bubble bubble-right">I still can’t believe how easy it is to use. Click a couple of buttons and I’m done, a care worker shows up at my doorstep. Too easy!</p>
          </div>
        </div>
      </div>
  </section> -->
</div>
