<div class='services'>
  <section id="home-care" class=" bg-faded">
    <div class="container">
      <div class="row">
              <div class="col-md-6">
                  <h2 class="heading">Home care at the touch of a button</h2>
                  <p>We connect you with the highest rated care professionals throughout Australia – at the touch of a button</p>
              </div>
        </div>
    </div>
  </section>
  <section class="container-fluid" id="personal-care">
    <div class="container">
      <div class="row">
              <div class="col-md-12">
                  <h2 class="heading">Tailor home care to suit your needs. With ease.</h2>
                  <p>At Caring street, we are constantly growing and updating our network of care professionals so they’re ready to provide the care you want at any time. Using our platform you can schedule and monitor home care at any time.</p>
              </div>
        </div>
        <div class="row my-3">
          <div class="col-md-6">
              <h3>High quality care workers</h3>
              <p>Every care worker on our platform has been through a vigorous interview and selection process. We’ve done all the work so you don’t have to.</p>
          </div>
          <div class="col-md-6">
              <h3>Ease of use</h3>
              <p>Schedule care by the hour and pay as you go. No minimum length contracts to sign.</p>
          </div>
        </div>
    </div>
  </section>
  <section class="container-fluid bg-faded" id="personal-care">
    <div class="container">
      <div class="row my-3">
              <div class="col-md-12">
                  <h2 class="heading">Caring street workers can assist with…</h2>
              </div>
        </div>
      <div class="row my-3">
        <div class="col-md-4">
            <h3>Medication Reminders</h3>
            <p>Timely prompts to take medication, drink water, and other daily wellness needs.</p>
        </div>
        <div class="col-md-4">
            <h3>Staying Active</h3>
            <p>Support to keep you moving and healthy, from a simple walk to specific exercises.</p>
        </div>
        <div class="col-md-4">
            <h3>Meal Prep and Groceries</h3>
            <p>From shopping for groceries to planning and preparing healthy meals you’ll love.</p>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-4">
            <h3>Transportation</h3>
            <p>Wherever you’re going, get a ride in a comfortable car—or yours if you prefer.</p>
        </div>
        <div class="col-md-4">
            <h3>Light Housekeeping</h3>
            <p>Doing dishes or laundry, taking out the trash, plus seasonal projects and organizing.</p>
        </div>
        <div class="col-md-4">
            <h3>Personal Care and Hygiene</h3>
            <p>Assistance with dressing, bathing, or toileting—always respectful and professional.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid" id="best-care">
      <div class="container">
        <div class="row my-3">
            <div class="col-md-12">
                <h2 class="heading">Highly trained care professionals.</h2>
            </div>
          </div>
        <div class="row my-3">
          <div class="col-md-4">
              <h3>Quick, quality care</h3>
              <p>Need help fast? A care advisor can be there in just 2 hours.</p>
          </div>
          <div class="col-md-4">
              <h3>Stay informed</h3>
              <p>Know who’s coming and when. Get real-time information.</p>
          </div>
          <div class="col-md-4">
              <h3>Get care anywhere</h3>
              <p>It’s easy to change the location of your next care visit.</p>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-md-4">
              <h3>Stay connected</h3>
              <p>Keep in touch with your care professional before, during, and after a visit.</p>
          </div>
          <div class="col-md-4">
              <h3>Care workers you love</h3>
              <p>Rate each visit and add any commentary to express how the session went. Let us know if you want to see a particular worker again.</p>
          </div>
          <div class="col-md-4">
              <h3>24/7 phone support</h3>
              <p>We’re here for you. Questions? Need support? Call us anytime.</p>
          </div>
        </div>
      </div>
  </section>
</div>
