<div class='services'>
  <section class="container" id="home-care">
    <div class="container">
      <div class="row">
              <div class="col-md-12">
                  <h2>Home care at the touch of a button</h2>
                  <p>We connect you with the highest rated care professionals throughout Australia – at the touch of a button</p>
              </div>
        </div>
    </div>
  </section>
  <section class="container-fluid fresh" id="personal-care">
    <div class="container">
      <div class="row">
              <div class="col-md-12">
                  <h2>Tailor home care to suit your needs. With ease.</h2>
                  <p>At Caring street, we are constantly growing and updating our network of care professionals so they’re ready to provide the care you want at any time. Using our platform you can schedule and monitor home care at any time.</p>
              </div>
        </div>
    </div>
  </section>
  <section class="container" id="personal-care">
    <div class="container">
      <div class="row">
              <div class="col-md-12">
                  <h2>Types of tasks that caring street workers can assist with…</h2>
                  <p>Low / Medium / High care</p>
              </div>
        </div>
    </div>
  </section>
  <section class="container-fluid fresh" id="best-care">
    <div class="container">
      <div class="row">
              <div class="col-md-12">
                  <h2>Highly trained care professionals.</h2>
                  <p>Low / Medium / High care</p>
              </div>
        </div>
    </div>
  </section>
</div>
