#navbar-content {
  height: 100%;
}

.nav-item {
  display: table;
  height: 100%;
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-bottom: 0px;
  padding-top: 0px;
}

.nav-link.active {
  border-bottom: 3px solid #465c8b;
}

.nav-item.disabled .nav-link{
  color: #bbb;
  transition: color 100ms ease-in-out,background-color 250ms ease-out
}

.logo{
  height: 50px;
}

.nav-link {
  display: table-cell;
  vertical-align: middle;
  color: black;
  padding-bottom: 0px;
  padding-top: 0px;
}

.navbar-brand {
  padding: 0px;
}

.nav-link.btn {
  color: white;
  padding: 10px;
  border: none;
}

.nav-link.btn:hover {
  color: white;
}

.navbar-toggler {
  border: solid 1px silver;
  border-radius: 2px;
  color: #eee;
}

.navbar {
  height: 65px;
  padding: 0px;
  background-color: white;
}

.prussian-blue{
  background-color: #0b3c5d;
}

.sky-blue{
  background-color: #328cc1;
}

.sky-blue:hover{
  background-color: #227CAE;
}

.gold{
  background-color: #d9b310;
}

.ivory-black{
  background-color: #1d2731;
}

.electric-blue{
  background-color: #4cdef5;
}

.electric-green{
  background-color: #a4d555;
}

.blush{
  background-color: #ff5992;
}

.orchid{
  background-color: #841983;
}
