#navbar-content {
  height: 100%;
}

.nav-item {
  display: table;
  height: 100%;
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-bottom: 0px;
  padding-top: 0px;
}

.nav-link.active {
  border-bottom: 3px solid #00ADEF;
}

.nav-item.selected .nav-link{
  border-bottom: 3px solid #00ADEF;
}

.nav-item.disabled .nav-link.active {
  border-bottom: 3px solid #ccc!important;
}

.nav-item.disabled .nav-link {
  color: #bbb;
  transition: color 100ms ease-in-out,background-color 250ms ease-out
}

.logo{
  height: 1.7em;
}

.nav-link {
  display: table-cell;
  vertical-align: middle;
  color: black;
  padding-bottom: 0px;
  padding-top: 0px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-toggler {
  border: solid 1px silver;
  border-radius: 2px;
  color: #eee;
}

.navbar {
  height: 65px;
  padding: 0px;
  background-color: white;
}

@media only screen and (max-device-width: 480px) {
  #navbarSupportedContent {
    background-color: #f7f7f7;
    padding: 1em;
  }

  #navbarSupportedContent form{
    margin-top: 1em;
  }

  .navbar-brand {
    margin: 0.5em;
  }

  .navbar-toggler {
    margin: 0.5em;
  }

  #sign-up{
    margin-left: 0.8em;
  }
}
