<nav class="navbar navbar-toggleable-md fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="[brandMenuLink]">
    <img class="logo ml-5" alt="Brand" src="images/logo.jpg">
  </a>

  <div class="collapse navbar-collapse mx-5" id="navbar-content">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let menuItem of menuItems" (mouseenter)="menuEnter($event)"  (mouseleave)="menuLeave($event)" [ngClass]="getMenuItemClasses(menuItem)">
        <a class="nav-link" [routerLink]="[menuItem.path]" routerLinkActive="active">{{menuItem.title}}</a>
      </li>
    </ul>
  </div>
    <ul class="navbar-nav">
      <li class="">
        <a class="nav-link btn" *ngIf="!auth.authenticated()" (click)="auth.login('signUp')">Sign up</a>
      </li>
      <li class="mx-4">
        <a class="nav-link btn" *ngIf="!auth.authenticated()" (click)="auth.login('login')">Login</a>
        <a class="nav-link btn" *ngIf="auth.authenticated()" (click)="auth.logout()">Log Out</a>
      </li>
    </ul>
</nav>
