.nav-link.active {
  border-radius: 3px;
  background-color: #465c8b;
  color: white;
}

.nav-item.disabled .nav-link{
  color: #bbb;
}

.logo{
  height: 50px;
}

.nav-link {
  color: black;
  margin: 10px;
}

.nav-link.btn {
  color: white;
}

.navbar-toggler {
  border: solid 1px silver;
  border-radius: 2px;
  color: #eee;
}

.navbar {
  height: 65px;
  background-color: white;
}

.prussian-blue{
  background-color: #0b3c5d;
}

.sky-blue{
  background-color: #328cc1;
}

.gold{
  background-color: #d9b310;
}

.ivory-black{
  background-color: #1d2731;
}

.electric-blue{
  background-color: #4cdef5;
}

.electric-green{
  background-color: #a4d555;
}

.blush{
  background-color: #ff5992;
}

.orchid{
  background-color: #841983;
}
