<div id="signup" class="container my-5">
  <h2>Update your details</h2>
  <form class="mt-5" ngNoForm method='post' novalidate="">
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Need Care for</label>
      <div class="col-5">
        <div class="btn-group">
          <label class="mr-3">
            <input type="radio" [(ngModel)]="model.careFor" name="careFor" [value]="'me'"> You
          </label>
          <label class="">
            <input type="radio" [(ngModel)]="model.careFor" name="careFor"  [value]="'lovedOne'">Loved one
          </label>
        </div>
      </div>
    </div>

    <div  *ngIf="model.careFor !== ''">
      <div  *ngIf="model.careFor == 'lovedOne'">
        <div class="form-group row">
          <label for="firstName" class="col-2 col-form-label">Your First Name</label>
          <div class="col-5">
            <input class="form-control" [(ngModel)]="model.firstName" name="firstName" placeholder="eg. John" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="lastName" class="col-2 col-form-label">Your Last Name</label>
          <div class="col-5">
            <input class="form-control" [(ngModel)]="model.lastName" name="lastName" id="lastName" placeholder="eg. Doe" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="firstName" class="col-2 col-form-label">Their First Name</label>
          <div class="col-5">
            <input class="form-control" [(ngModel)]="model.elderfirstName" name="theirfirstName" placeholder="eg. Jane" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="lastName" class="col-2 col-form-label">Their Last Name</label>
          <div class="col-5">
            <input class="form-control" [(ngModel)]="model.elderlastName" name="thierlastName" placeholder="eg. Roe" required>
          </div>
        </div>
      </div>
      <div  *ngIf="model.careFor == 'me'">
        <div class="form-group row">
          <label for="firstName" class="col-2 col-form-label">First Name</label>
          <div class="col-5">
            <input class="form-control" [(ngModel)]="model.firstName" name="firstName" placeholder="eg. John" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="lastName" class="col-2 col-form-label">Last Name</label>
          <div class="col-5">
            <input class="form-control" [(ngModel)]="model.lastName" name="lastName" id="lastName" placeholder="eg. Doe" required>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-2 col-form-label">Email</label>
        <div class="col-5">
          <input class="form-control" [(ngModel)]="model.email" name="email" type="email" id="email" placeholder="eg. john.doe@gmail.com" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="mobile" class="col-2 col-form-label">Mobile</label>
        <div class="col-5">
          <input class="form-control" [(ngModel)]="model.mobile" type="mobile" id="mobile" name="mobile" placeholder="eg. 0400 000 000" min="10" required>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-5">
          <!--button type="submit" class="btn btn-success" [disabled]="!signupForm.form.valid">Sign up</button -->
            <button type="button" class="btn btn-success" (click)="updateUser()">Update</button>
        </div>
      </div>
    </div>
  </form>
</div>
