<div id="contact-us" class="container my-5">
  <h2>Contact Us</h2>
  <section class="container my-5" id="contact-section">
    <div class="row">
      <div class="col-8 text-center">
        <p>Feel free to email us to provide feedback or suggestions at <a href="mailto:support@caringstreet.com.au">support@caringstreet.com.au</a></p>
        <ul class="list-inline banner-social-buttons">
            <li>
                <a href="https://twitter.com/CaringStreet" class="btn btn-outline-info btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
            </li>
            <li>
                <!-- <a href="https://plus.google.com/" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a> -->
            </li>
        </ul>
      </div>
    </div>
  </section>
</div>
