<div class='worker'>
  <section id="care-worker">
    <div class="container">
      <div class="row">
              <div class="col-md-6">
                  <h2 class="heading">Our Care Pros truly care.</h2>
                  <p>Amazing, skilled care professionals are ready to help right when you need it.</p>
              </div>
        </div>
    </div>
  </section>
  <section class="container-fluid" id="team">
    <div class="container">
      <div class="row">
              <div class="col-md-12">
                  <h2 class="heading">Meet your Care Team.</h2>
                  <p>At Caring street, we connect you with a team of experienced, caring professionals who work together to provide the best possible care, designed just for you</p>
              </div>
        </div>
        <div class="row my-3">
          <div class="col-md-4">
              <h3>Advisors</h3>
              <p>On the first visit, we assess your individual care needs and help design your Care Plan.</p>
          </div>
          <div class="col-md-4">
              <h3>Care Workers</h3>
              <p>A professional caregiver comes to your home to help you or a loved one with whatever you need.</p>
          </div>
          <div class="col-md-4">
              <h3>Specialists</h3>
              <p>We’re on call 24/7 to make sure you always get the best possible service and support—day or night.</p>
          </div>
        </div>
    </div>
  </section>
  <section class="container-fluid bg-faded" id="workers-trust">
    <div class="container">
      <div class="row my-3">
              <div class="col-md-12">
                  <h2 class="heading">Care Workers you can trust.</h2>
                  <p>We interview and thoroughly screen every care professional before they can become an Care Workers at Caring Street. Only the best meet our standards.
We not only verify skills, training, and references, we also look for people who are compassionate, caring, and bring joy to their work every day.</p>
              </div>
        </div>
    </div>
  </section>
  <section class="container-fluid" id="safety">
      <div class="container">
        <div class="row my-3">
            <div class="col-md-12">
                <h2 class="heading">Your safety is our top priority.</h2>
            </div>
        </div>
        <div class="row my-1">
          <div class="col-md-6">
              <p>Police Check</p>
          </div>
          <div class="col-md-6">
              <p>DMV record review</p>
          </div>
        </div>
        <div class="row my-1">
          <div class="col-md-6">
              <p>Sex Offender Check</p>
          </div>
          <div class="col-md-6">
              <p>60 Minute interview, including competency testing, scenario-based assessments, and in-person screening</p>
          </div>
        </div>
      </div>
  </section>
  <section class="container-fluid" id="transparency">
      <div class="container bg-faded">
        <div class="row my-3">
            <div class="col-md-12">
                <h2 class="heading">Quality and Transparency</h2>
                <p>Our mission is to help older adults stay well so they can live in their own homes for as long as
they choose. Our promise is to connect you with the best care professionals who provide a superior quality of home care that’s safe and secure.</p>
            </div>
        </div>
        <div class="row my-1">
          <div class="col-md-6">
              <h3>Quality</h3>
              <p>We find and recruit only the best care workers.</p>
          </div>
          <div class="col-md-6">
              <h3>Insurance</h3>
              <p>We’ve got you covered. Caring Street is insured for general liability, theft, and auto—just in case.</p>
          </div>
        </div>
      </div>
  </section>
</div>
